*.py[cod]

# Cache directory
.cache/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
/build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib64
@test*
model/models/*.h5
model/models/*.json

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.pytest_cache

# Translations
*.mo

# Virtualenv
.venv

# vim swap files
*.swp

# emacs directory configuration
.dir-locals.el

# Ensime settings (scala)
scala/ensime.sbt

# osx custom attributes file
.DS_Store

# pip sometimes makes a src dir for some reason
model/src/*

# ignore Sublime project files
*sublime-project
*sublime-workspace

*.orig

# Notebooks
model/notebooks/workspace/*
model/!notebooks/workspace/tutorials
model/notebooks/migrated
model/notebooks/runtime
model/notebooks/.ipynb_checkpoints/*
model/notebooks/workspace/tutorials/.ipynb_checkpoints/*
model/notebooks/nbsignatures.db
model/notebooks/notebook_secret
.dev

# IntelliJ projects
*.iml

# Visual Studio Code files
.vscode/*

# ignore mypy folders
.mypy_cache/
stubs/

# ignore plaintext
*.plaintext

# ignore data folder
model/data/*.csv

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
